.container{
    text-align:center;
    margin-top:100px;
    font-family:Arial;
}


h1{
    color:#2563eb;
}


button{
    padding:12px 25px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}